body {
  margin: 0;
  background-color: #121212;
}

#root {
  width: 100vw;
  height: 100vh;
}

header {
  position: fixed;
  color: turquoise;
  z-index: 1;
  width: 100%;
  font-family: monospace;
  display: flex;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  gap: 1rem;
}

header > h1 {
  margin: 0;
  margin-right: auto;
  font-size: 1.2rem;
}

header > button {
  font-family: monospace;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5em 0.8em;
  border: none;
  background-color: turquoise;
  cursor: pointer;
  transition: all 0.3s;
}

header > button:hover {
  box-shadow: 0 0 10px turquoise;
}

footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  color: turquoise;
  font-family: monospace;
}
